#Intellij IDEA 
# User-specific stuff:
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries

# Sensitive or high-churn files:
.idea/dataSources.ids
.idea/dataSources.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml
#.idea/libraries



.vagrant
.settings
.metadata
.checkstyle
bin
target
.pmd
.ruleset
.springBeans
eclipsebin

*.class
*.zip
*.gz
*.bak
*.log
*.box
*/gensrc/*
.DS_Store
.vlt*
*.swp
*~
*.jar
*.orig
*ruleset.xml

lib
classes
.ruleset
gensrc
testclasses

*.DS_Store
platformhome.properties

endpoint.properties

*/config.edx86/*

*/config/licence/installedSaplicenses.properties
*/config/solr/*
*/ctcpickpack/web/webroot/cockpit/*
*/ctcproductcockpit/web/webroot/cockpit/*
ctc*.eml
nohup.out
out

*-testclasses.xml
*-webtestclasses.xml
components-lang-addon.xml
*.iml

!utils/mysql/*.zip
!utils/mysql/*.jar
!epamcscockpit/web/webroot/js/lib