<div class="container">

    <div class="bg-error">{{errorMsg}}</div>

    <!--ticket details-->
    <div class="ticket__form">

        <h2 class="ticket__form_header">Ticket {{ticket.ticketId}} Details</h2>

        <div class="container">
            <div class="ticket__form_element">
                <div class="ticket__form_label">assigned agent</div>
                <div class="ticket__form_input">{{ ticket.assignedAgent }}</div>
            </div>
            <div class="ticket__form_element">
                <div class="ticket__form_label">agent group</div>
                <div class="ticket__form_input">{{ ticket.assignedGroup }}</div>
            </div>
            <div class="ticket__form_element">
                <div class="ticket__form_label">ticket headline</div>
                <div class="ticket__form_input">{{ ticket.headline }}</div>
            </div>


            <div class="ticket__form_element">
                <div class="ticket__form_label">ticket id</div>
                <div class="ticket__form_input">{{ ticket.ticketId }}</div>
            </div>
            <div class="ticket__form_element">
                <div class="ticket__form_label">ticket level</div>
                <div class="ticket__form_input">hardcode</div>
            </div>
            <div class="ticket__form_element">
                <div class="ticket__form_label">ticket category</div>
                <div class="ticket__form_input">{{ ticket.category }}</div>
            </div>
            <div class="ticket__form_element">
                <div class="ticket__form_label">ticket state</div>
                <div class="ticket__form_input">{{ ticket.state }}</div>
            </div>
            <div class="ticket__form_element">
                <div class="ticket__form_label">order phone number</div>
                <div class="ticket__form_input">hardcode</div>
            </div>
            <div class="ticket__form_element">
                <div class="ticket__form_label">ticket priority</div>
                <div class="ticket__form_input">{{ ticket.priority }}</div>
            </div>
            <div class="ticket__form_element">
                <div class="ticket__form_label">phone number</div>
                <div class="ticket__form_input">hardcode</div>
            </div>
            <div class="ticket__form_element">
                <div class="ticket__form_label">email address</div>
                <div class="ticket__form_input">hardcode</div>
            </div>
            <div class="ticket__form_element">
                <div class="ticket__form_label">customer contact name</div>
                <div class="ticket__form_input">{{ ticket.customerDisplayName }}</div>
            </div>
            <div class="ticket__form_element">
                <div class="ticket__form_label">city</div>
                <div class="ticket__form_input">hardcode</div>
            </div>
            <div class="ticket__form_element">
                <button id="assignToAgentButton" disabled>Assign To Agent</button>
                <button id="addNoteToTicketButton" disabled>Add Note To Ticket</button>
                <button ng-hide="hideCloseButton" ng-click="showCloseForm()">Close Ticket</button>
            </div>
        </div>


    </div>

    <!--Close ticket-->
    <div ng-show='showForm' class="ticket__form_close">
        <form ng-submit="closeTicket()">
            <div class="ticket__form_element" hidden>
                <label class="ticket__form_label" for="interventionType">Intervention type</label>
                <select name="interventionType"
                        class="ticket__form_input"
                        ng-model="interventionType"
                        ng-options="type for type in ticketInterventions"
                        id="interventionType">
                </select>
            </div>

            <div class="ticket__form_element comment">
                <label class="ticket__form_label" for="comment">Comment</label>
                <textarea id="comment" name="comment"
                          class="ticket__form_input"
                          ng-model="comment"></textarea>
            </div>
            <div class="ticket__form_element">
                <button ng-click="showCloseForm()" type="button">Cancel</button>
                <button type="submit">Ok</button>
            </div>
        </form>

    </div>

    <!--ticket events-->
    <div class="ticket__form">

        <div class="ticket__form_header">Ticket Events</div>

        <div ng-repeat="event in ticket.events">
            <!--populate with fields from CsTicketEventModel-->
            <div class="ticket_events" ng-repeat="entry in event.ticketChangeEventEntries">
                <p><span class="ticket_events_label"> Altered attribute: </span> {{ entry.alteredAttribute }}</p>
                <p><span class="ticket_events_label">Date: </span> {{ event.startDateTime | date:'medium'}}</p>
                <p><span class="ticket_events_label">Change: </span> {{ entry.oldStringValue }} -> {{ entry.newStringValue }}</p>
                <p ><span class="ticket_events_label">Comment: </span> {{event.text}}</p>
                <!--<div class="">hardcode - to clarify about agent name placed here</div>-->
            </div>
        </div>

    </div>

</div>