<div class="container">

	<div class="bg-error">{{errorMsg}}</div>

	<!--left-side short ticket description-->
	<aside class="sidebar">
		<div class="">
			<div class="">{{ ticket.ticketId }}</div>
			<div class="">{{ ticket.state }}</div>
			<div class="">{{ ticket.headline }}</div>
			<div class="">{{ ticket.creationTime | date }}</div>
		</div>
		<div class="">
			<div class="">Customer</div>
			<div class="">{{ ticket.customerDisplayName }}</div>
		</div>
		<div class="">
			<div class="">Order</div>
			<div>{{ ticket.order }}</div>
		</div>
		<div class="sub-header">Ticket Details</div>
	</aside>

	<!--ticket details-->
	<div class="ticket__form">

		<div class="ticket__form_">Ticket {{ticket.ticketId}} Details</div>

		<div class="">
			<div class="">
				<div class="">assigned agent</div>
				<div class="">{{ ticket.assignedAgent }}</div>
			</div>
			<div class="">
				<div class="">agent group</div>
				<div class="">{{ ticket.assignedGroup }}</div>
			</div>
			<div class="">
				<div class="">ticket headline</div>
				<div class="">{{ ticket.headline }}</div>
			</div>
		</div>

		<hr/>

		<div class="">
			<div class="">
				<div class="">ticket id</div>
				<div class="">{{ ticket.ticketId }}</div>
			</div>
			<div class="">
				<div class="">ticket level</div>
				<div class="">hardcode</div>
			</div>
			<div class="">
				<div class="">ticket category</div>
				<div class="">{{ ticket.category }}</div>
			</div>
			<div class="">
				<div class="">ticket state</div>
				<div class="">{{ ticket.state }}</div>
			</div>
			<div class="">
				<div class="">order phone number</div>
				<div class="">hardcode</div>
			</div>
			<div class="">
				<div class="">ticket priority</div>
				<div class="">{{ ticket.priority }}</div>
			</div>
			<div class="">
				<div class="">phone number</div>
				<div class="">hardcode</div>
			</div>
			<div class="">
				<div class="">email address</div>
				<div class="">hardcode</div>
			</div>
			<div class="">
				<div class="">customer contact name</div>
				<div class="">{{ ticket.customerDisplayName }}</div>
			</div>
			<div class="">
				<div class="">city</div>
				<div class="">hardcode</div>
			</div>
		</div>

		<div class="">
			<button id="assignToAgentButton">Assign To Agent</button>
			<button id="addNoteToTicketButton">Add Note To Ticket</button>
			<button id="closeTicketButton">Close Ticket</button>
		</div>

	</div>

	<!--ticket events-->
	<div class="">

		<div class="">Ticket Events</div>

		<div ng-repeat="event in ticket.events">
			<!--populate with fields from CsTicketEventModel-->
			<div ng-repeat="entry in event.ticketChangeEventEntries">
				<div class="">{{ entry.alteredAttribute }}</div>
				<div class="">{{ event.startDateTime }}</div>
				<div class="">{{ entry.oldStringValue }} -> {{ entry.newStringValue }}</div>
				<div class="">hardcode - it seems comment message is absent in model, to investigate</div>
				<div class="">hardcode - to clarify about agent name placed here</div>
			</div>
		</div>

	</div>

</div>