<div>
    <section class="sub-header">
        SORT BY:&nbsp;
        <select ng-model="sortField"
                ng-change="order()"
                ng-options="key as value for (key , value) in ticketSorts">

            <!--<option ng-repeat="(a,name) in ticketSorts" value="{{a}}">{{name}}</option>-->
        </select>


        <span class="sub-header_sortOrder" ng-click="flipSort()">
            <span ng-class="{'sub-header_sortOrder__active': sortReverse}">&#9660;</span
                    ><span ng-class="{'sub-header_sortOrder__active': !sortReverse}">&#9650;</span>
        </span>
        <div class="sub-header_ticketCount">
           Total Tickets: <span class="sub-header_ticketCount_title"> {{ticketStore.length}}</span>
        </div>
    </section>

    <div class="container">

        <aside class="sidebar filter">

            <ul>
                <li ng-repeat="tfilter in ticketConfig.availableFilters | filter:{name:'!category'} | orderBy:'name'" class="filter__item">
                <div class="filter__section">
                    <h3 class="filter__title">{{tfilter.displayName}}</h3>
                    <ul>
                        <li ng-repeat="criteria in tfilter.criterias | orderBy:'name'" class="filter__item">
                            <label class="filter__item-name">
                                <input class="filter__item-checkbox" type="checkbox"
                                   checklist-model="ticketSearchCriteria[tfilter.name]" checklist-value="criteria.name"/>
                                {{criteria.displayName}}
                            </label>
                            <span class="filter__item-counter">{{criteria.count || 0}}</span>
                        </li>
                    </ul>
                </div>
                </li>
            </ul>

            <div class="filter__btn-wrap">
                <button class="filter__btn filter__btn_clear" ng-click="clearTicketSearchCriteria()">clear</button>
                <button class="filter__btn filter__btn_update" ng-click="updateTicketStore()">update</button>
            </div>
        </aside>
        <!-- /sidebar -->

        <section class="main">
            <!-- /.ticket -->

            <!-- | orderBy:sortFilterField:sortReverse -->
            <div ng-repeat="ticket in ticketStore " 
                 class="ticket ticket_{{ticket.priority | lowercase}}">
                <div class="ticket__main-info">
                    <div class="ticket__number">
                        <a href="#/ticket/{{ticket.ticketId}}">{{ticket.ticketId}} </a>
                    </div>
                    <div class="ticket__status">{{ticket.state}}</div>
                    <div class="ticket__descr">
                        {{ticket.headline}}
                    </div>
                </div>
                <div class="ticket__customer-info">
                    <a href="#/customer/{{ticket.customerUid | encodeBase64}}" class="ticket__customer-email">{{ticket.customerDisplayName}} </a>

                    <div class="ticket__customer-order-number"><a href="#/order/{{ticket.order}}"> {{ticket.order}}</a>
                    </div>

                </div>
                <div class="ticket__time-info">
                    <div class="ticket__date-created">
                        <b>Date Created:</b> {{ticket.creationTime | date : 'MMM dd, hh:mm:ss a' }}
                    </div>
                    <div class="ticket__spent-time">
                        Spent Time: 1 Day, 2 hour.
                    </div>
                    <div class="ticket__agent">
                        Agent: <b>{{ticket.assignedAgent || "Unassigned" }}</b>
                    </div>
                </div>
                <div class="ticket__additional-info">
                    <div class="ticket__category">
                        Category: {{ticket.category}}
                    </div>
                    <div class="ticket__level">
                        Level 3: Automated
                    </div>
                </div>
            </div>
            <div class="bg-error">{{errorMsg}}</div>

        </section>
        <!-- /content -->

    </div>
</div>