<div class="container">
       <aside class="sidebar filter">
           <div class="filter__section">
               <h3 class="filter__title">agent</h3>
               <ul>
                   <li class="filter__item">
                       <label class="filter__item-name">
                           <input class="filter__item-checkbox" type="checkbox"/>
                           Assigned to me
                       </label>
                       <span class="filter__item-counter">345</span>
                   </li>
                   <li class="filter__item">
                       <label class="filter__item-name">
                           <input class="filter__item-checkbox" type="checkbox"/>
                           All Group Users
                       </label>
                       <span class="filter__item-counter">41</span>
                   </li>
                   <li class="filter__item">
                       <label class="filter__item-name">
                           <input class="filter__item-checkbox" type="checkbox"/>
                           Unassigned
                       </label>
                       <span class="filter__item-counter">2654</span>
                   </li>
               </ul>
           </div>

           <div class="filter__section">
               <h3 class="filter__title">group</h3>
               <ul>
                   <li class="filter__item">
                       <label class="filter__item-name">
                           <input class="filter__item-checkbox" type="checkbox"/>
                           My Group
                       </label>
                       <span class="filter__item-counter">3252</span>
                   </li>
                   <li class="filter__item">
                       <label class="filter__item-name">
                           <input class="filter__item-checkbox" type="checkbox"/>
                           All Groups
                       </label>
                       <span class="filter__item-counter">25</span>
                   </li>
                   <li class="filter__item">
                       <label class="filter__item-name">
                           <input class="filter__item-checkbox" type="checkbox"/>
                           Unassigned
                       </label>
                       <span class="filter__item-counter">145</span>
                   </li>
               </ul>
           </div>

           <div class="filter__section">
               <h3 class="filter__title">state</h3>
               <ul>
                   <li class="filter__item">
                       <label class="filter__item-name">
                           <input class="filter__item-checkbox"  type="checkbox" />
                           New
                       </label>
                       <span class="filter__item-counter">552</span>
                   </li>
                   <li class="filter__item">
                       <label class="filter__item-name">
                           <input class="filter__item-checkbox" type="checkbox"/>
                           Open
                       </label>
                       <span class="filter__item-counter">2525</span>
                   </li>
                   <li class="filter__item">
                       <label class="filter__item-name">
                           <input class="filter__item-checkbox" type="checkbox"/>
                           Closed
                       </label>
                       <span class="filter__item-counter">6473</span>
                   </li>
               </ul>
           </div>

           <div class="filter__section">
               <h3 class="filter__title">level</h3>
               <ul>
                   <li class="filter__item">
                       <label class="filter__item-name">
                           <input class="filter__item-checkbox" type="checkbox"/>
                           All
                       </label>
                       <span class="filter__item-counter">15113</span>
                   </li>
                   <li class="filter__item">
                       <label class="filter__item-name">
                           <input class="filter__item-checkbox" type="checkbox"/>
                           Sales
                       </label>
                       <span class="filter__item-counter">124</span>
                   </li>
                   <li class="filter__item">
                       <label class="filter__item-name">
                           <input class="filter__item-checkbox" type="checkbox"/>
                           Service
                       </label>
                       <span class="filter__item-counter">264</span>
                   </li>
                   <li class="filter__item">
                       <label class="filter__item-name">
                           <input class="filter__item-checkbox" type="checkbox"/>
                           Automated
                       </label>
                       <span class="filter__item-counter">12441</span>
                   </li>
                   <li class="filter__item">
                       <label class="filter__item-name">
                           <input class="filter__item-checkbox" type="checkbox"/>
                           Interactive
                       </label>
                       <span class="filter__item-counter">1445</span>
                   </li>
                   <li class="filter__item">
                       <label class="filter__item-name">
                           <input class="filter__item-checkbox" type="checkbox"/>
                           Physical store CS transfer
                       </label>
                       <span class="filter__item-counter">153</span>
                   </li>
               </ul>
           </div>

           <div class="filter__section">
               <h3 class="filter__title">priority</h3>
               <ul>
                   <li ng-repeat="priority in ticketPriorities" class="filter__item">
                       <label class="filter__item-name">
                           <input class="filter__item-checkbox" type="checkbox" checklist-model="ticketSearchCriteria.priorities" checklist-value="priority"/>
                           {{priority}}
                       </label>
                       <span class="filter__item-counter"></span>
                   </li>
               </ul>
           </div>

           <div class="filter__btn-wrap">
               <button class="filter__btn filter__btn_clear" ng-click="clearTicketSearchCriteria()">clear</button>
               <button class="filter__btn filter__btn_update" ng-click="updateTicketStore()">update</button>
           </div>
       </aside>
       <!-- /sidebar -->

      <section class="main" >
      	<!-- /.ticket -->
	<div ng-repeat="ticket in ticketStore" class="ticket ticket_{{ticket.priority | lowercase}}">
              <div class="ticket__main-info">
                  <div class="ticket__number">
                  		<a href="#/ticket/{{ticket.ticketId}}">{{ticket.ticketId}} </a>
                  </div>
                  <div class="ticket__status">{{ticket.state}}</div>
                  <div class="ticket__descr">
                      {{ticket.headline}}
                  </div>
              </div>
              <div class="ticket__customer-info">
                  <a href="#/customer/{{ticket.customerUid | encodeBase64}}" class="ticket__customer-email">{{ticket.customerDisplayName}} </a>
                  <div class="ticket__customer-order-number"> <a href="#/order/{{ticket.order}}"> {{ticket.order}}</a></div>
                  
              </div>
              <div class="ticket__time-info">
                  <div class="ticket__date-created">
                      <b>Date Created:</b>  {{ticket.creationTime | date : 'MMM dd,  hh:mm:ss a' }}
                  </div>
                  <div class="ticket__spent-time">
                      Spent Time: 1 Day, 2 hour.
                  </div>
                  <div class="ticket__agent">
                      Agent: <b>{{ticket.assightedEmployee}}</b>
                  </div>
              </div>
              <div class="ticket__additional-info">
                  <div class="ticket__category">
                      Category: {{ticket.category}}
                  </div>
                  <div class="ticket__level">
                      Level 3: Automated
                  </div>
              </div>
          </div>
          

      </section>
      <!-- /content -->

  </div>